body {
  background: #e3e3e3;
  font-size: 10px;
}

.fake_news-wrapper {
  width: 20rem;
  background: #e3e3e3;
  color: black;
  padding: .5rem;
}

.fake_news-introduction {
  padding: .25rem 1rem;
}

.fake_news-introduction p {
  font-size: 14px;
}

.fake_news-check_button {
  height: 2rem;
}

.hidden {
  display: none;
}